<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>GEODATA.gov.gr - Data API Examples</title>
    <link rel="shortcut icon" href="../content/images/shared/geodatagovgr.ico" />

    <link rel="stylesheet" href="../content/css/lib/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" href="../content/css/lib/ol3/ol.css" />
    <link rel="stylesheet" href="../content/css/api/dashboard/default.css" />

    <link rel="stylesheet" href="../content/css/lib/codemirror/codemirror.css" />

    <script type="text/javascript" src="../content/js/lib/codemirror/codemirror.js"></script>
    <script type="text/javascript" src="../content/js/lib/codemirror/javascript.js"></script>

    <script type="text/javascript">
        var ﻿require = {
            config: {
                app: {
                    debug: {{config['mapclient.debug']}},
                    servers: {
                        osm: {{ c.servers.osm }},
                        mapproxy : {{ c.servers.mapproxy }}
                    },
                    layers: {
                        osm: '{{ config['mapclient.base.layers.osm'] }}'
                    },
                    catalog: '{{config['mapclient.url.catalog']}}',
                    api: {
                        alias : {{ c.api.alias }},
                        wps: '{{ c.api.wps }}'
                    }
                }
            }
        };
    </script>

    <script type="text/javascript" data-main="../content/js/api-dashboard.js" src="../content/js/lib/requirejs/require.js"></script>
    <script type="text/javascript">
        if (typeof requirejs === 'undefined') {
            document.write(decodeURI("%3Cscript type='text/javascript' data-main='content/js/api-dashboard.js' src='../content/js/lib/requirejs/require.js' %3E%3C/script%3E"));
        }
    </script>

    {% if c.google %}
    <!-- Snippet googleanalytics/snippets/googleanalytics_header.html start -->
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ c.google }}', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
    </script>
    <!-- Snippet googleanalytics/snippets/googleanalytics_header.html end -->
    {% endif %}
</head>
<body>
    <div id="block-ui">
        <div id="loader-icon">
            <img src="../content/images/shared/geodata-logo.png" alt="" />
            <div class="text-developers"> ... For Developers</div>
        </div>
    </div>
            <div class="actions" style="display: none;">
                <div class="clearfix" style="max-width: 740px; float: left;">
                    <div class="action-container">
                        <button class="action" id="resource_show" type="button" style="width: 180px;">Show Resources</button>
                    </div>
                    <div class="action-container">
                        <select type="text" id="resource_id" style="width: 300px;" autocomplete="off"></select>
                    </div>
                    <div class="action-container">
                        <button class="action" id="resource_describe" type="button" style="width: 235px;">Get Resource Metadata</button>
                    </div>
                </div>
                <div class="clearfix" style="max-width: 740px;">
                    <div class="action-container">
                        <button class="action" id="process_show" type="button" style="width: 180px;">Show Processes</button>
                    </div>
                    <div class="action-container">
                        <select type="text" id="process_id" style="width: 300px;" autocomplete="off" data-size="10"></select>
                    </div>
                    <div class="action-container">
                        <button class="action" id="process_describe" type="button" style="width: 235px;">Get Process Metadata</button>
                    </div>
                </div>
            </div>
    <div id="content">
        <div id="header">
            <div class="logo-container">
                <a class="navbar-brand geodata-brand" href="{{config['mapclient.url.catalog']}}" target="_blank">
                    <div class="logo-publicamundi"></div>
                </a>
                <div class="image-code"></div>
            </div>
            <div class="sections">
                <div class="section section-selected" data-page="page-docs">Documentation</div>
                <div class="section" data-page="page-resources">Resources</div>
                <div class="section" data-page="page-examples">Examples</div>
                <div class="section" data-page="page-syntax">JSON Syntax</div>
            </div>
        </div>
        <div class="page" id="page-syntax">
            <textarea id="json-syntax" rows="20" cols="60" autocomplete="off"></textarea>
        </div>
        <div class="page" id="page-docs">
            <iframe id="docs-frame" src="#"></iframe>
        </div>
        <div class="page" id="page-resources">
            <div id="resource-catalog-header" class="resource-catalog resource-catalog-header">
                <label for="resource-filter" class="resource-label">Title</label>
                <input id="resource-filter" type="resource-prefix" class="resource-filter" autocomplete="off" />
            </div>
            <div id="resource-catalog-content" class="resource-catalog resource-catalog-content">
            </div>
        </div>
        <div class="page" id="page-examples">
            <div id="examples-accordion-container">
                <div id="examples-accordion">
                    <h3>Query
                        <div id="query_exec" class="action-img-button query-run" title="Execute selected query">
                            <img src="../content/images/api/dashboard/run.svg" alt="" class="action-button"/>
                        </div>
                        <div id="query_export" class="action-img-button query-export" title="Execute query & export results to shape file">
                            <img src="../content/images/api/dashboard/download.svg" alt="" class="action-button" />
                        </div>
                        <div id="query_wps" class="action-img-button query-wps" title="Execute wps process">
                            <img src="../content/images/api/dashboard/wps.svg" alt="" class="action-button" />
                        </div>
                        <div class="progress-loader" style="display: none;">
                            <img alt="" src="../content/images/api/dashboard/ajax-loader.gif">
                        </div>
                        <div id="query_size" class="query-size">
                        </div>
                        <div id="query_time" class="query-time">
                        </div>
                        <div class="query-index-container">
                            <div id="query_prev" class="query-button query-button-disabled">
                                <img src="../content/images/api/dashboard/prev.svg" alt="" class="action-button" />
                            </div>
                            <div id="query_index" class="query-index"></div>
                            <div id="query_next" class="query-button query-button-enabled">
                                <img src="../content/images/api/dashboard/next.svg" alt="" class="action-button" />
                            </div>
                        </div>
                    </h3>
                    <div>
                        <div id="query-notes">

                        </div>
                        <div id="query-container">
                            <textarea id="query" rows="20" cols="60" autocomplete="off"></textarea>
                        </div>
                        <div  style="border-top: 1px solid #AAAAAA;">
                            <div class="query-mode">
                                <div id="query_mode_json" class="query-mode-option query-mode-option-selected" data-mode="json">
                                    JSON
                                </div>
                                <div id="query_mode_fluent" class="query-mode-option" data-mode="fluent">
                                    Fluent
                                </div>
                                <div id="query_mode_wps" class="query-mode-option" data-mode="wps">
                                    WPS
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="examples-tabs-container">
                <div id="examples-tabs">
                    <ul>
                        <li><a href="#examples-tabs-1">Map</a></li>
                        <li><a href="#examples-tabs-2">Output</a></li>
                    </ul>
                    <div id="examples-tabs-1">
                        <div id="map" style="width: 1059px; height: 685px;"></div>
                    </div>
                    <div id="examples-tabs-2">
                        <textarea id="output" rows="20" cols="60" autocomplete="off"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="page page-overlay" id="page-overlay">
            <div id="resource-catalog-loader" style="position: relative; top: 50%; left: 50%; margin: -15px 0px 0px -15px; width: 31px;">
                <img alt="" src="../content/images/api/dashboard/ajax-loader-big.gif">
            </div>
        </div>
    </div>
    <div style="display: none;">
        <div id="feature-dialog" title="Feature Information">
            <div class="feature-dialog-content">
            </div>
        </div>
    </div>
    <div style="display: none;">
        <div id="dialog-message" title="Application message" style="margin: 1px;">
        <p>
            <span id="dialog-message-text"></span>
        </p>
        </div>
    </div>
    <div id="map-dialog" style="display: none;">
        <div id="map-layer"></div>
    </div>

    <div id="schema-dialog" style="display: none;">
        <div id="schema-table"></div>
    </div>
</body>
</html>
