.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    -ms-zoom: 1;
    zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
    -ms-zoom: 1;
    zoom: 1;
}

#loader-icon {
    left: 50%;
    margin-left: -110px;
    margin-top: -36px;
    position: absolute;
    top: 50%;
}

body {
}

#block-ui {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 999999;
    overflow: hidden;
}

#main {
    overflow: hidden !important;
}

#content {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#header {
    position: absolute;
    top: 0px;
    height: 45px;
    left: 0px;
    width: 100%;
    border: 0px none !important;
    padding: 4px;
}

#map {
    position: relative;
    top: 45px;
    left: 0px;
    width: 100%;
    height: 100%;
    bottom: 40px;
}

#footer {
    position: absolute;
    bottom: 0px;
    height: 40px;
    left: 0px;
    width: 100%;
    border: 0px none !important;
    padding: 4px;
    background: #f9f9f9;
}

.logo-container {
    float: left;
    height: 25px;
    left: 50%;
    margin-top: 15px;
    margin-left: -110px;
    position: relative;
    width: 160px;
}

.logo-publicamundi {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../images/geodata-biglogo.png );
    background-repeat: no-repeat;
    background-size: contain;
}

.progress-loader {
    float: left;
    margin-top: -8px;
    padding-left: 163px;
    display: none;
}

.nav-button-left {
    float: left;
    padding: 4px 0 0 10px;
}

.nav-button-right {
    float: right;
    padding: 4px 20px 0 0;
}

.base-layer-list-icon {
    left: 5px;
    margin-top: -12px !important;
    position: absolute;
    top: 50%;
}

/* jQuery Mobile */
.no-border-radius.ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: 0em !important;
    -moz-border-radius: 0em !important;
    border-radius: 0em !important;
}

ul.ui-listview li p {
    white-space: pre-line;
}

.ui-listview > li img {
    margin-top: 0.9em;
    max-width: 3.9em !important;
}

.ui-listview > li p {
    margin: 0.2em 0;
}

.ui-li-count-resource {
    background: white !important;
    color: #333333 !important;
    margin-top: 0.7em !important;
    top: 0px !important;
    right: 0.4em !important;
}

.ui-btn {
    white-space: pre-line;
    font-size: 13px;
}

h2.ui-collapsible-heading a {
    margin-top: 0px !important;
}

.ui-btn-icon-left:after,
.ui-btn-icon-right:after,
.ui-btn-icon-top:after,
.ui-btn-icon-bottom:after,
.ui-btn-icon-notext:after {
    -webkit-border-radius: 0em !important;
    -moz-border-radius: 0em !important;
    border-radius: 0em !important;
}

.ui-page-theme-a .ui-btn:hover,
html .ui-bar-a .ui-btn:hover,
html .ui-body-a .ui-btn:hover,
html body .ui-group-theme-a .ui-btn:hover,
html head + body .ui-btn.ui-btn-a:hover {
    background-color: inherit !important; /* #ededed /*{a-bhover-background-color}*/
    border-color: #dddddd /*{a-bhover-border}*/;
    color: #333333 /*{a-bhover-color}*/;
    text-shadow: none;
}

.btn-layer-config {
    margin: 0px !important;
}

#select-visible .ui-slider-switch {
    width: 9em;
}

.ui-btn-icon-notext.ui-btn-corner-all, .ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: 0em !important;
    -moz-border-radius: 0em !important;
    border-radius: 0em !important;
}

.ui-listview > .ui-li-has-thumb > .ui-btn, .ui-listview > .ui-li-static.ui-li-has-thumb {
    min-height: 0.5em !important;
    padding-left: 4.4em !important;
}


.ui-btn-icon-notext, .ui-header button.ui-btn.ui-btn-icon-notext, .ui-footer button.ui-btn.ui-btn-icon-notext {
    border-style: none !important;
}

.color-tile {
    cursor: pointer;
    float: left;
    height: 21px;
    margin: 2px;
    width: 21px;
}

img.legend {
    padding-left: 7px;
}

label.layer-selector.ui-li-aside {
    right: 0.2em;
    top: 1em;
}

label.layer-loading.ui-li-aside {
    padding-top: 4px;
    right: 0.2em;
    top: 1em;
}

.ui-listview > .ui-li-static {
    padding: 0.9em 1em !important;
}

    .ui-listview > .ui-li-static.li-wfs {
        padding-left: 7px !important;
    }

    .ui-listview > .ui-li-static.li-gml {
        padding-left: 7px !important;
    }

    .ui-listview > .ui-li-static.li-geojson {
        padding-left: 7px !important;
    }

    .ui-listview > .ui-li-static.li-kml {
        padding-left: 7px !important;
    }

.dataset-info {

}

.layer-title {
    display: table-cell;
    padding-left: 5px;
    padding-right: 7px;
    text-align: justify;
}

.dataset-title-header {

}

.layer-title-header {
}

p.remove-resource, a.remove-source {
    font-size: 0.8em;
    font-weight: normal !important;
    margin: 0 !important;
    text-decoration: none !important;
}

.full-width-slider input {
    display: none;
}

.ui-slider-track {
    margin-left: 0px !important;
}

.full-width-slider .ui-slider-track {
    margin-left: 0px !important;
}

.footer-center {
    text-align: center;
}

.ui-dialog-contain {
    border: 1px solid #E9E9E9;
}

.pm-popup {
    min-width: 17em;
    max-width: 46em;
}

h2 {
    font-size: 1em;
}

.combo-crs {
    float: right;
    width: 150px;
    margin: 2px 5px;
}

    .combo-crs .ui-select {
        margin: 0 5px 0 0 !important;
    }

.mouse-pos {
    float: left;
    padding-left: 5px;
}

.mouse-pos-img {
    float: left;
}

.mouse-pos-text {
    color: #333333;
    float: left;
    font-size: 0.8em;
    margin: 10px 4px;
}

/* catalog */
#catalog {
}

div.topic {
    cursor: pointer;
    display: block;
    float: left;
    font-size: 0.8em;
    min-height: 100px;
    text-align: center;
    width: 55px;
    padding: 2px;
    margin: 2px;
    position: relative;
}

img.topic {
    border: 0 none;
    max-width: 45px;
}

span.topic {
    line-height: 15px;
    margin-top: 5px;
    max-width: 75px;
    font-size: 0.8em;
    word-wrap: break-word;
}

h2.panel-section {
    border: 1px solid #dddddd;
    padding: 5px;
    text-align: center;
    margin-bottom: 1px;
}

h2.panel-section-collaspible {
    cursor: pointer;
    padding-left: 25px;
    padding-right: 25px;
}

/* tree */


/* Basic settings */
.ui-li-static.ui-collapsible {
    padding: 0;
}

    .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview,
    .ui-li-static.ui-collapsible > .ui-collapsible-heading {
        margin: 0;
    }

    .ui-li-static.ui-collapsible > .ui-collapsible-content {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
        border-bottom-width: 0;
    }

        /* collapse vertical borders */
        .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-last-child,
        .ui-li-static.ui-collapsible.ui-collapsible-collapsed > .ui-collapsible-heading > a.ui-btn {
            border-bottom-width: 0;
        }

        .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-first-child,
        .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-first-child > a.ui-btn,
        .ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn {
            border-top-width: 0;
        }

        /* Remove right borders */
        .ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn,
        .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > .ui-li-static,
        .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li > a.ui-btn,
        .ui-li-static.ui-collapsible > .ui-collapsible-content {
            border-right-width: 0;
        }

    /* Remove left borders */
    /* Here, we need class ui-listview-outer to identify the outermost listview */
    .ui-listview-outer > .ui-li-static.ui-collapsible .ui-li-static.ui-collapsible.ui-collapsible,
    .ui-listview-outer > .ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn,
    .ui-li-static.ui-collapsible > .ui-collapsible-content {
        border-left-width: 0;
    }

/* loader */
.ui-icon-loading {
    display: none !important;
}

/* panel */
.ui-panel-inner {
    padding: 0 0.5em 0.5em;
}

@media (min-width:55em) {
    /* wrap on wide viewports once open */
    .ui-panel-page-content-open.ui-panel-page-content-position-left {
        margin-right: 17em;
    }

    .ui-panel-page-content-open.ui-panel-page-content-position-right {
        margin-left: 17em;
    }

    .ui-panel-page-content-open {
        width: auto;
    }
    /* disable "dismiss" on wide viewports */
    .ui-panel-dismiss {
        display: none;
    }
    /* same as the above but for panels with display mode "push" only */
    .ui-panel-page-content-open.ui-panel-page-content-position-left.ui-panel-page-content-display-push {
        margin-right: 17em;
    }

    .ui-panel-page-content-open.ui-panel-page-content-position-right.ui-panel-page-content-display-push {
        margin-left: 17em;
    }

    .ui-panel-page-content-open.ui-panel-page-content-display-push {
        width: auto;
    }

    .ui-panel-dismiss-display-push {
        display: none;
    }
}
