* html {
    -ms-zoom: 1;
    zoom: 1;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
}

/* IE6 */
*:first-child + html .clearfix {
    -ms-zoom: 1;
    zoom: 1;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.container {
    padding-right: 4px;
    padding-left: 4px;
    margin-right: 0px;
    margin-left: 0px;
}
.geodata-brand {
    padding: 13px !important;
}
.navbar-geodata {
    background-color: white;
    z-index: 1 !important;
}
.ui-autocomplete {
    border-radius: 4px;
    z-index: 2;
    max-height: 200px;
    overflow: auto;
}
.ui-menu-item {
    border: none !important;
    margin: 4px !important;
}
.ui-state-focus {
    color: white !important;
    background: #286090 !important;
    margin: 4px !important;
}
.map {
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

.table-panel {
    position: absolute;
    width: 400px;
    top: 120px;
    left: 8px;
    border: 1px solid #dadada;
    max-height: 400px;
    overflow: auto;
    background: white;
    padding: 4px;
}
