<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="content/css/lib/bootstrap/current/css/bootstrap.min.css">	
	<link rel="stylesheet" href="content/css/lib/bootstrap-select/bootstrap-select.min.css">	
	<link rel="stylesheet" href="content/css/lib/jquery-ui/current/jquery-ui.min.css">	
    <link rel="stylesheet" href="content/css/lib/ol3/3.4.0/ol.css" />
    <link rel="stylesheet" href="content/css/app/default.css" />

    <title>PublicaMundi - Map Client</title>
    <link rel="shortcut icon" href="content/images/icons/geodatagovgr.ico" />
    <script type="text/javascript">
        var ﻿require = {
            config: {
                app: {
					path: '{{config['mapclient.url.prefix']}}',
                    proxy: {
                        path: '{{ h.url_for(controller='proxy', action='proxy_resource')}}',
                        param: 'url'
                    },
                    bing: {
                        {% if 'mapclient.base.layer.key' in config %}
                            key: '{{config['mapclient.base.layer.key']}}'
                        {% else %}
                            key: null
                        {% endif %}
                    },
                    map: {
                        target: 'map',
                        {% if 'mapclient.map.center' in config %}
                            center: [{{config['mapclient.map.center']}}],
                        {% else %}
                            center: [3000000, 4600000],
                        {% endif %}
                        {% if 'mapclient.map.zoom' in config %}
                            zoom: {{config['mapclient.map.zoom']}}
                        {% else %}
                            zoom: 7
                        {% endif %}
                    },
                    ckan: {
                        endpoint: '{{config['mapclient.url.catalog']}}'
                    },
                    resource : '{{c.resource}}',
                    api: {
						endpoint : '/'
					}
                }
            }
        };
    </script>
    <script type="text/javascript" data-main="content/js/main.js" src="content/js/lib/requirejs/require.js"></script>
    <script type="text/javascript">
        var result = null;

        if (typeof requirejs === 'undefined') {
            document.write(decodeURI("%3Cscript type='text/javascript' data-main='content/js/main.js' src='content/js/lib/requirejs/require.js' %3E%3C/script%3E"));
        }
    </script>
</head>
<body>
    <div id="block-ui">
        <div id="loader-icon">
			<div>
				<img src="content/images/geodata-biglogo.png" alt="" />
				<div id="loading-text" class="loading-text">
					Loading Scripts ... 0%
				</div>
			</div>
        </div>
    </div>
    <div id="map"></div>
    <div id="dialog-container" style="width: 100%; height: 100%;"></div>
	<nav class="navbar navbar-default navbar-geodata navbar-fixed-top">
		<div class="container" style="width: 100%;">
				<a class="navbar-brand" href="{{config['mapclient.url.catalog']}}" target="_blank">
					<img src="content/images/geodata-biglogo.png" alt="GeoData.gov.gr">
				</a>
				<div class="device" style="float: right; padding-top: 17px;" >
					<input id="base-layer-opacity" name="base-layer-opacity" min="0" max="100" type="range" style="width: 150px;">
				</div>
				<div class="device img-text" style="float: right; padding-top: 13px; padding-right: 6px;" data-placement="bottom" title="Διαφάνεια">
					<img src="content/images/opacity.png" alt="" />
				</div>
				<div class="device" style="float: right; padding-top: 8px; padding-right: 6px;">
					<select name="base_layer" id="base_layer" data-width="250px">
						<option data-key=""
								data-type="ktimatologio"
								data-set=""
								value="ktimatologio">Κτηματολόγιο</option>
						<!--
						<option data-key=""
								data-type="osm"
								data-set=""
								value="osm" selected>Open Street Maps</option>
						-->
						<option data-key=""
								data-type="mapquest"
								data-set="osm"
								value="mapquest">Map Quest - Open Street Maps</option>
						<option data-key=""
								data-type="mapquest"
								data-set="sat"
								value="mapquest">Map Quest - Satellite</option>
						<!-- 
						<option data-key=""
								data-type="mapquest"
								data-set="hyb"
								value="mapquest">Map Quest - Hybrid</option>
						-->
						{% if config['mapclient.base.layer.key'] != '' %}
						<option data-key="{{config['mapclient.base.layer.key']}}"
								data-type="bing"
								data-set="Aerial"
								value="bing">Bing Map - Aerial</option>
						<option data-key="{{config['mapclient.base.layer.key']}}"
								data-type="bing"
								data-set="AerialWithLabels"
								value="bing">Bing Map - Aerial with Labels</option>
						<option data-key="{{config['mapclient.base.layer.key']}}"
								data-type="bing"
								data-set="Road"
								value="bing">Bing Map - Road</option>
						{% endif %}
						<option data-key=""
								data-type="stamen"
								data-set="toner"
								value="mapquest">Stamen - Toner</option>
						<option data-key=""
								data-type="stamen"
								data-set="watercolor"
								value="mapquest" selected>Stamen - Watercolor</option>
					</select>
				</div>
				<div class="device img-text"  style="float: right; padding-top: 13px; padding-right: 6px;" data-placement="bottom" title="Υπόβαθρο">
					<img src="content/images/map.png" alt="" />
				</div>
		</div>
	</nav>
	<div id="panel-left" class="panel-left panel-left-visible">
		<div class="panel-left-handler">
			<img src="content/images/arrow.png" alt=""/>
		</div>
		<div id="panel-content-left" class="panel-content">
			<div id="layer-tree-header" class="clearfix layer-tree-header">
				<div style="float: left; padding-top: 1px;">
					<img class="inactive"id="group" style="" src="content/images/comments.png" alt="" data-selected="true"/>
				</div>
				<div id="group-label" style="float: left; padding-left: 7px;" class="section-label">Θεματικές Ενότητες</div>
				<div style="float: left;">
					<img class="active" id="organization" src="content/images/organization.png" alt="" data-selected="false"/>
				</div>
				<div id="organization-label" style="float: left; padding-left: 7px;"  class="section-label section-label-hidden">Οργανισμοί</div>
				<div style="float: left; padding-top: 1px;">
					<img class="active" id="search" src="content/images/search.png" alt="" data-selected="false"/>
				</div>
				<div style="float: left;" id="search-label" style="float: left; padding-left: 7px;" class="section-label section-label-hidden">Αναζήτηση</div>
			</div>
			
            <div id="layer-tree-group" class="clearfix layer-tree-group"></div>
			<div id="layer-tree-organization" class="clearfix layer-tree-organization"></div>
            <div id="layer-tree-search" class="clearfix layer-tree-search"></div>

			<div id="layer-selection-header" class="clearfix layer-selection-header">
				<img src="content/images/layers.png" alt=""/><span style="padding-left: 7px;">Επιλογές</span>
			</div>
            
			<div id="layer-selection" class="clearfix layer-selection"></div>
            
			<div id="tools-header" class="clearfix tools-header">
				<img src="content/images/settings.png" alt=""/><span style="padding-left: 7px;">Εργαλεία</span>
			</div>
			
            <div id="tools" class="clearfix tools">
                <div class="tool-wrapper" id="tool-length"></div>
                <div class="tool-wrapper" id="tool-area"></div>
                <div class="tool-wrapper" id="tool-select"></div>
                <div class="tool-wrapper" id="tool-export"></div>
				<div class="tool-wrapper" id="action-export"></div>
			</div>
		</div>
		<div class="panel-left-label">
			<img src="content/images/layers.png" alt=""/><span style="padding-left: 7px; font-size: 1.3em; color: #485AA8">Κατάλογος</span>
		</div>
	</div>
    	
	<footer class="footer">
        <div style="position: absolute; width: 100%; text-align: center; padding-top: 10px;">
            <a href="https://icons8.com/web-app/">Icons by Icons8</a>
        </div>
        <div class="mouse-pos">
            <div style="float: left; padding-top: 5px; padding-left: 2px; cursor: pointer; display: none;">
                <img class="img-text" src="content/images/center-direction.png" alt="" data-placement="bottom" title="Αναζήτηση θέσης" />
            </div>
            <div style="float: left; padding-top: 5px;">
                <img class="img-text" src="content/images/location.png" alt="" data-placement="bottom" title="Θέση" />
            </div>
        </div>
        <div class="combo-crs" style="width: 80px;">
            <select name="pos_epsg" id="pos_epsg" class="selectpicker" data-width="80px">
                <option value="EPSG:3857" selected="selected">3857</option>
                <option value="EPSG:4326">4326</option>
            </select>
        </div>
        <div class="img-text" style="float: right; padding-top: 5px; padding-left: 2px;" data-placement="bottom" title="Σύστημα αναφοράς">
            <img src="content/images/earth.png" alt="" />
        </div>
        <div id="scale-line" style="float: right; padding: 18px 10px 0px 2px;">
        </div>
        <div class="img-text" style="float: right; padding-top: 5px; padding-left: 2px;" data-placement="bottom" title="Κλίμακα χάρτη">
            <img src="content/images/ruler.png" alt="" />
        </div>
	</footer>
</body>
</html>
