<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="content/css/lib/bootstrap/current/css/bootstrap.min.css">
	<link rel="stylesheet" href="content/css/lib/bootstrap-select/bootstrap-select.min.css">
	<link rel="stylesheet" href="content/css/lib/jquery-ui/current/jquery-ui.min.css">
    <link rel="stylesheet" href="content/css/lib/ol3/3.4.0/ol.css" />
    <link rel="stylesheet" href="content/css/lib/fileupload/jquery.fileupload.css" />
    <link rel="stylesheet" href="content/css/app/default.css" />

    <title>GEODATA.gov.gr - Maps</title>
    <link rel="shortcut icon" href="content/images/shared/geodatagovgr.ico" />
    <script src="http://maps.google.com/maps/api/js?v=3"></script>
    <script type="text/javascript">
        var require = {
            config: {
                shared: {
                    debug: {{config['mapclient.debug']}},
					path: '{{config['mapclient.relative.path']}}'
                },
                app: {
                    debug: {{config['mapclient.debug']}},
					path: '{{config['mapclient.relative.path']}}',
                    proxy: {
                        path: '{{ h.url_for(controller='proxy', action='proxy_resource')}}',
                        param: 'url'
                    },
                    google: {
                        enabled: {{config['mapclient.base.layer.google.enabled']}},
                        target: 'gmap'
                    },
                    bing: {
                        {% if 'mapclient.base.layer.bing.key' in config %}
                            key: '{{config['mapclient.base.layer.bing.key']}}'
                        {% else %}
                            key: null
                        {% endif %}
                    },
                    map: {
                        target: 'olmap',
                        {% if 'mapclient.map.center' in config %}
                            center: [{{config['mapclient.map.center']}}],
                        {% else %}
                            center: [3000000, 4600000],
                        {% endif %}
                        {% if 'mapclient.map.zoom' in config %}
                            zoom: {{config['mapclient.map.zoom']}}
                        {% else %}
                            zoom: 7
                        {% endif %},
                        extent : [2091828, 4030970, 3362556, 5163926],
                        minZoom: 7,
                        maxZoom: 19
                    },
                    ckan: {
                        endpoint: '{{config['mapclient.url.catalog']}}',
                        metadata: {
                            database: {{config['mapclient.catalog.metadata.database']}},
                            path : '{{config['mapclient.catalog.metadata.relative']}}',
                            version: '{{c.metadata['version']}}'
                        }
                    },
                    export: {
                        disabledFormats : {{c.exportDisabledFormats}}
                    },
                    api: {
                        wps: {
                            corsEnabled: {{config['dataapi.wps.corsEnabled']}},
                            endpoint: '{{config['dataapi.wps.endpoint']}}',
                            delay: {{config['dataapi.wps.delay']}}
                        }
                    },
                    feedback : {
                        en: '{{config['mapclient.feedback.url.en']}}',
                        el: '{{config['mapclient.feedback.url.el']}}'
                    },
                    servers: {
                        osm: {{ c.servers.osm }},
                        mapproxy : {{ c.servers.mapproxy }},
                        tilecache: {{ c.servers.tilecache }}
                    },
                    layers: {
                        osm: '{{ config['mapclient.base.layers.osm'] }}',
                        ktimatologio: '{{ config['mapclient.base.layers.ktimatologio'] }}',
                    }
                }
            }
        };
    </script>
    <script type="text/javascript" data-main="content/js/{{ c.main }}" src="content/js/lib/requirejs/require.js"></script>
    <script type="text/javascript">
        var result = null;

        if (typeof requirejs === 'undefined') {
            document.write(decodeURI("%3Cscript type='text/javascript' data-main='content/js/{{ c.main }}' src='content/js/lib/requirejs/require.js' %3E%3C/script%3E"));
        }
    </script>

    {% if c.google %}
    <!-- Snippet googleanalytics/snippets/googleanalytics_header.html start -->
    <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ c.google }}', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
    </script>
    <!-- Snippet googleanalytics/snippets/googleanalytics_header.html end -->
    {% endif %}
</head>
<body>
    <div style="display: none;">
        <img id="grid-tiles" src="content/images/shared/grid.png" />
    </div>
    <div id="block-ui">
        <div id="loader-icon">
			<div>
				<img src="content/images/shared/geodata-logo.png" alt="" />
				<div id="loading-text" class="loading-text">
					Loading Scripts ... 0%
				</div>
			</div>
        </div>
    </div>
    <div id="map">
      <div id="gmap" style="width: 100%; height: 100%; display: none;"></div>
      <div id="olmap" style="width: 100%; height: 100%;"></div>
    </div>
	<nav class="navbar navbar-default navbar-geodata navbar-fixed-top">
		<div class="header container" style="width: 100%;">
                <div style="float: left;">
                    <a class="navbar-brand geodata-brand" href="{{config['mapclient.url.catalog']}}" target="_blank">
                        <img src="content/images/shared/geodata-logo.png" alt="GeoData.gov.gr" class="logo-header">
                    </a>
                </div>
				<div style="float: right; padding: 8px 0px 0px 15px;">
					<select name="locale_selection" id="locale_selection" data-width="100px" class="help" data-help-resource="help.locale">
						<option value="el">Ελληνικά</option>
                        <option value="en">English</option>
					</select>
				</div>
				<div class="device2" style="float: right; padding-top: 15px;" >
					<input id="base-layer-opacity" name="base-layer-opacity" min="0" max="100" value="100" type="range" style="width: 150px;" class="help" data-help-resource="help.opacity">
				</div>
				<div class="device2 img-text" style="float: right; padding-top: 14px; padding-right: 6px; font-weight: bold;" data-i18n-id="index.title.opacity" autocomplete="off">
					Διαφάνεια
				</div>
				<div class="device1" style="float: right; padding-top: 8px; padding-right: 6px;">
					<select name="base_layer" id="base_layer" data-width="245px" autocomplete="off">
						<option data-i18n-id="index.layer.ktimatologio"
                                data-key=""
								data-type="ktimatologio"
								data-set=""
								value="ktimatologio" selected>ΕΚΧΑ Α.Ε.</option>
						<option data-key=""
								data-type="mapquest"
								data-set="osm"
								value="mapquest-osm">Map Quest - Open Street Maps</option>
						<option data-key=""
								data-type="mapquest"
								data-set="sat"
								value="mapquest-sat">Map Quest - Satellite</option>
						<!--
						<option data-key=""
								data-type="mapquest"
								data-set="hyb"
								value="mapquest-hyb">Map Quest - Hybrid</option>
						-->
                        {% if config['mapclient.base.layer.google.enabled'] == 'true' %}
						<option data-key=""
								data-type="google"
								data-set="SATELLITE"
                                data-content="Google Maps Satellite<span class='experimental'>Experimental</span>"
								value="google-SATELLITE">Google Maps</option>
                        {% endif %}
						{% if config['mapclient.base.layer.bing.key'] != '' %}
						<option data-key="{{config['mapclient.base.layer.key']}}"
								data-type="bing"
								data-set="Aerial"
								value="bing-Aerial">Bing Map - Aerial</option>
						<option data-key="{{config['mapclient.base.layer.key']}}"
								data-type="bing"
								data-set="AerialWithLabels"
								value="bing-AerialWithLabels">Bing Map - Aerial with Labels</option>
						<option data-key="{{config['mapclient.base.layer.key']}}"
								data-type="bing"
								data-set="Road"
								value="bing-Road">Bing Map - Road</option>
						{% endif %}
						<option data-key=""
								data-type="stamen"
								data-set="toner"
								value="stamen-toner">Stamen - Toner</option>
						<option data-key=""
								data-type="stamen"
								data-set="watercolor"
								value="stamen-watercolor">Stamen - Watercolor</option>
					</select>
				</div>
				<div id="base-layer-label" class="device1 img-text"  style="float: right; padding-top: 14px; padding-right: 6px; font-weight: bold;" data-i18n-id="index.title.base-layer">
                    Υπόβαθρο
				</div>
				<div class="device2 clearfix resource-data-search" style="padding:  9px 9px 0px 0px; margin: 0px 650px 0px 275px; max-width: 500px">
					<input id="location-search" class="form-control input-md" type="text" data-i18n-id="index.input.search.location"
					data-i18n-type="attribute" data-i18n-name="placeholder" placeholder="Αναζήτηση ..." autocomplete="off"></input>
				</div>
		</div>
	</nav>
	<div id="panel-left" class="panel-left panel-left-visible">
		<div class="panel-left-handler">
			<img src="content/images/app/expand.svg" alt=""/>
		</div>
		<div id="panel-content-left" class="panel-content">
			<div id="layer-tree-header" class="clearfix layer-tree-header">
				<div style="float: left;">
					<img class="inactive"id="group" style="" src="content/images/app/topics.svg" alt="" data-selected="true"/>
				</div>
				<div id="group-label" style="float: left; padding: 7px 5px 0px 5px;" class="section-label" data-i18n-id="index.topics">Θεματικές Ενότητες</div>
				<div style="float: left;">
					<img class="active" id="organization" src="content/images/app/organization.svg" alt="" data-selected="false"/>
				</div>
				<div id="organization-label" style="float: left; padding: 7px 5px 0px 5px;" class="section-label section-label-hidden" data-i18n-id="index.organizations">Οργανισμοί</div>
				<div style="float: left;">
					<img class="active" id="search" src="content/images/app/search.svg" alt="" data-selected="false"/>
				</div>
				<div id="search-label" style="float: left; padding: 7px 5px 0px 5px;" class="section-label section-label-hidden" data-i18n-id="index.search">Αναζήτηση</div>
			</div>

            <div id="tree-filter" class="clearfix" style="padding: 6px 4px 6px 4px;">
                <div class="input-group" style="float: left; width: 100%;">
                    <input id="tree-filter-text" placeholder="Φιλτράρισμα αποτελεσμάτων ..." data-i18n-id="control.tree.filter.prompt" data-i18n-type="attribute" data-i18n-name="placeholder" class="form-control input-md" type="text">
                    <span class="input-group-btn">
                        <button id="tree-filter-remove" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                </div>
            </div>

            <div id="layer-tree-group" class="clearfix layer-tree-group"></div>
			<div id="layer-tree-organization" class="clearfix layer-tree-organization"></div>
            <div id="layer-tree-search" class="clearfix layer-tree-search"></div>

			<div id="layer-selection-header" class="clearfix layer-selection-header">
				<img src="content/images/app/layers.svg" alt="" class="img-25" /><span style="padding-left: 7px;" data-i18n-id="index.selected-layers">Επιλογές</span>
			</div>

			<div id="layer-selection" class="clearfix layer-selection"></div>
		</div>
        <div class="panel-left-label" style="width: 200px;">
			<img src="content/images/app/layers.svg" alt="" class="img-25 panel-left-label-image" /><div class="device1 panel-left-label-text" data-i18n-id="index.catalog">Κατάλογος</div>
		</div>
	</div>
    <div id="panel-left-splitter" class="panel-left-splitter">
        <div class="panel-left-splitter-handler"></div>
    </div>
	<footer class="footer">
        <div style="position: absolute; left: 50%; margin-left: -90px; padding-top: 10px;">
            <a href="http://www.imis.athena-innovation.gr/" target="_blank"><div class="imis-logo"></div></a><div data-i18n-id="index.feedback" class="device2 feedback-label">Αφήστε τα σχόλιά σας</div>
        </div>
        <div class="mouse-pos">
            <div style="float: left; padding-top: 5px;">
                <img class="img-text" src="content/images/app/map-pin.svg" alt="" data-placement="bottom" data-i18n-id="index.title.position" data-i18n-type="title" title="Θέση" />
            </div>
        </div>
        <div class="combo-crs" style="width: 140px;">
            <select name="pos_epsg" id="pos_epsg" class="selectpicker" data-width="140px">
                <option value="EPSG:3857">Web Mercator</option>
                <option value="EPSG:4326">WGS84</option>
                <option value="EPSG:2100" selected="selected">ΕΓΣΑ87</option>
                <option value="EPSG:4258">ETRS89</option>
            </select>
        </div>
        <div class="img-text" style="float: right; padding-top: 5px; padding-left: 2px;" data-placement="bottom" data-i18n-id="index.title.crs" data-i18n-type="title" title="Σύστημα αναφοράς">
            <img src="content/images/app/coordination-system.svg" alt="" />
        </div>
        <div id="scale-line" class="device1" style="float: right; padding: 18px 10px 0px 2px;">
        </div>
        <div class="device1 img-text" style="float: right; padding-top: 5px; padding-left: 2px;" data-placement="bottom" data-i18n-id="index.title.scale" data-i18n-type="title" title="Κλίμακα χάρτη">
            <img src="content/images/app/scale.svg" alt="" />
        </div>
	</footer>

    <div class="dialog-container"></div>

    <div class="clearfix tools-container-placholder">
        <img src="content/images/app/tools.svg" class="img-20" alt=""/>
    </div>
    <div class="clearfix tools-container">
        <div id="tools-header" class="clearfix tools-header">
            <div class="tools-header-label">
                <img src="content/images/app/tools.svg" class="img-20" alt=""/><span style="padding-left: 7px;" data-i18n-id="index.tools">Εργαλεία</span>
            </div>
            <div class="tools-header-handler">
                <img src="content/images/app/close.svg" alt="">
            </div>
        </div>
        <div class="tools-content">
            <div id="tools" class="clearfix tools">
                <div class="clearfix">
                    <div class="device1 tool-wrapper" id="tool-length"></div>
                    <div class="device1 tool-wrapper" id="tool-area"></div>
                    <div class="device1 tool-wrapper" id="tool-export"></div>
                </div>
                <div class="clearfix">
                    <div class="tool-wrapper" id="action-position"></div>
                    <div class="device1 tool-wrapper" id="action-parse"></div>
                    <div class="device1 tool-wrapper" id="action-upload"></div>
                    <div class="tool-wrapper" id="action-wms"></div>
                </div>
                <div class="clearfix">
                    <div class="tool-wrapper" id="action-link"></div>
                    <div class="device1 tool-wrapper" id="action-embed"></div>
                    <div class="tool-wrapper" id="restore-zoom"></div>
                    <div class="tool-wrapper" style="float: right; margin-right: 3px;" id="action-clear"></div>
                </div>
            </div>
            <div id="tool-actions-header" class="clearfix tool-actions-header" style="display: none;">
                <div class="tools-header-label">
                    <img src="content/images/app/functions.svg" class="img-20" alt=""/><span style="padding-left: 7px;" data-i18n-id="index.tool-actions">Λειτουργίες</span>
                </div>
            </div>
            <div id="tool-actions" class="clearfix tool-actions">
                <div class="tool-wrapper" id="action-export"></div>
            </div>
        </div>
    </div>
</body>
</html>
